@import "../../style/variables";
@import "../../style/mixins";

.inner {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.img {
    object-fit: cover;
}

.post {
    margin-bottom: 50px;
}

.btn_box {
    text-align: right;
}
