.pageNumber.selectedPage {
    color: rgba(0, 0, 0, 0);
    position: relative;
}
.pageNumber.selectedPage:after {
    content: url(/src/images/pagActive.png);
    position: absolute;
    top: -8px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.pageNumber {
    cursor: pointer;
    position: relative;
    color: #fff;
    font-weight: 900;
}

.pageNumber:after {
    content: url(/src/images/pagNum.png);
    position: absolute;
    top: -8px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.pageNumber + .pageNumber {
    margin-left: 32px;
}

.paginator {
    margin: 10px;
}

.paginator_box {
    margin: 0 20px;
    max-width: 500px;
    width: 100%;
}

.block {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    cursor: pointer;
}