@import "../../style/variables";
@import "../../style/mixins";

.inner{
    @include flex(space-between);
    align-items: center;
    padding: 20px 25px;
    position: relative;

    @media screen and (max-width: 1000px) {
        padding: 20px 0;
    }
}

.title {
    position: relative;
    padding-bottom: 10px;

    //.title::before
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 3px;
        background-color: $bgDark800;
        border-radius: 5px;
        @media screen and (max-width: 720px) {
            display: none;
        }
    }

    @media screen and (max-width: 830px) {
      font-size: 28px;
    }
    @media screen and (max-width: 720px) {
        background-color: $orange600Body;
        position: absolute;
        bottom: 10px;
        left: 0;
        padding: 0 10px;
        border-radius: 5px;
    }

    @media screen and (max-width: 400px) {
        font-size: 22px;
    }
}

.panel {
    //.panel_info
    &_info {
        @include flex(flex-end);
        padding: 5px 5px;
        margin: 10px 0 20px;
    }

    //.panel_logout
    &_logout {
        cursor: pointer;
    }

    //.panel_log
    &_log {
        @include width(80px);
        color: $colorLight;
        font-weight: 700;
        padding: 2px 1px;
        margin-right: 17px;
        cursor: pointer;
        text-align: center;
        position: relative;

        //.panel_log:after
        &::after {
            @include after($authLogin, -6px, 0);
            z-index: -1;
        }
    }
}

.login {
    color: $colorLight;
    font-weight: 600;
}

.header_img_logo {
    @include width(130px);
    object-fit: cover;

    @media screen and (max-width: 450px) {
        display: none;
    }
}

.header_img {
    object-fit: cover;

    @media screen and (max-width: 450px) {
        width: 100%;
    }

}