.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.header__title {
    position: relative;
    padding-bottom: 10px;
}

.header__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 3px;
    background-color: rgb(26, 7, 80);
    border-radius: 5px;
}