.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.title {
    position: relative;
    padding-bottom: 10px;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 3px;
    background-color: rgb(26, 7, 80);
    border-radius: 5px;
}
.panel_info {
    padding: 5px 5px;
    margin: 10px 0 20px;
    display: flex;
    justify-content: flex-end;
}
.panel_logout {
    cursor: pointer;
}
.panel_log {
    color: #fff;
    font-weight: 700;
    padding: 2px 1px;
    margin-right: 17px;
    cursor: pointer;
    max-width: 80px;
    width: 100%;
    text-align: center;
    position: relative;
}
.panel_log:after {
    content: url(/src/images/authLogin.png);
    position: absolute;
    top: -6px;
    left: 0;
    z-index: -1;
}
.login {
    color: #000;
    font-weight: 600;
}