.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.title {
    position: relative;
    padding-bottom: 10px;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 3px;
    background-color: rgb(26, 7, 80);
    border-radius: 5px;
}
.panel_info {
    padding: 5px 5px;
    margin: 10px 0 20px;
    display: flex;
    justify-content: flex-end;
}
.panel_log {
    border: 1px solid rgb(0, 0, 0, 0.3);
    color: #000;
    font-weight: 600;
    padding: 7px 2px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    max-width: 80px;
    width: 100%;
    text-align: center;
}
.login {
    color: #000;
    font-weight: 600;
}