@import '../../style/variables';
@import '../../style/mixins';

.navbar {
    @include width(250px);
    padding-top: 50px;
    margin-right: 20px;
    padding-left: 30px;

    @media screen and (max-width: 1000px) {
        max-width: 130px;
        margin-right: 0;
        padding-left: 10px;
    }
}

.item {
    font-size: 20px;
    font-weight: 700;

    //.item+.item
    &+.item {
        margin-top: 25px;
    }

}

.items {
    margin-bottom: 100px;
}