
$colorLight: #ffffff;
$bgDark800: rgb(26, 7, 80);
$bgDark700: #04236e;
$bgDark900: #000000;
$boxShadow: #6c68bb;
$wrapper: #e574b0;


$pagActive: '/images/pagActive.png';
$pagNum: '/images/pagNum.png';
$checkbox: '/images/checkbox1.png';
$checkboxEdit: '/images/check_edit.png';
$had: '/images/01.png';
$icon404: '/images/404.png';
$pen: '/images/pen.png';