@import '../../../style/variables';
@import '../../../style/mixins';

.info {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;

  //.info_edit img
  &_edit img {
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
  }
}

.box {
  margin-left: 50px;
  position: relative;
  width: 100%;
}

.aboutinfo {
  margin-bottom: 5px;
  padding: 3px;
  font-size: 14px;
  color: $bgDark700;
  display: block;

  //.aboutinfo_status
  &_status {
    display: flex;
    align-items: center;
  }

  //aboutinfo_edit
  &_edit {
    display: flex;
    position: relative;

    //.aboutinfo_edit_btn
    &_btn {
      cursor: pointer;
      margin-top: 20px;
    }
  }
}

//style for ckeckbox in edit
.aboutinfo_edit input[type="checkbox"] {
  display: none;
}

.about_check_label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: $colorLight;
  opacity: 0.5;
}

.aboutinfo_edit input:checked + .about_check_label::after {
  @include after($checkboxEdit, 0, 0);
  cursor: pointer;
}

.subtitle {
  @include width(180px);
  margin-bottom: 15px;
  color: $bgDark700;
}

.aboutinfo_value {
  @include width(100px);
  font-size: 14px;
  color: $bgDark700;
  display: inline-block;
  margin-left: 10px;

  //aboutinfo_value_key
  &_key {
    font-weight: 700;
  }

  //aboutinfo_value_box
  &_box {
    display: flex;
  }
}

.about {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  color: $bgDark700;

  & input[type='checkbox'] {
    opacity: 0.5;
    width: 18px;
    height: 18px;
    border: none;
  }

  & textarea {
    resize: none;
    padding: 2px 5px;
    width: 250px;
    outline: transparent;
    border-radius: 3px;
    border: none;
    opacity: 0.5;
    min-height: 50px;
  }
}

.name {
  color: $bgDark700;
  font-weight: 900;
  font-size: 22px;
  margin-left: 10px;

  //name_box
  &_box {
    font-size: 18px;
    color: $bgDark700;
  }

  //name_edit
  &_edit {
    display: flex;
    margin-top: 20px;

    & input {
      padding: 5px 5px;
      width: 250px;
      outline: transparent;
      border-radius: 3px;
      border: none;
      opacity: 0.5;
      min-height: 30px;
    }
  }

  //name_edit_box
  &_edit_box {
    @include width(100px);
  }
}

.load_img {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;

  //.load_img input[type='file']
  & input[type='file'] {
    display: none;
  }

  //.load_img:after
  &::after {
    content: 'edit';
    position: absolute;
    top: -20px;
    left: 15px;
    background-color: $orange300;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 700;
  }
}

.profile_box_img {
  position: relative;
  margin-bottom: 15px;
}

.status_edit {
  border: none;
  background-color: $colorLight;
  opacity: 0.5;
  padding: 3px 5px;
  border-radius: 3px;
  height: 20px;
  outline: transparent;
}

.status_title {
  font-size: 14px;
  color: $bgDark700;

}
