@import 'style/variables';
@import 'style/mixins';

.container {
  @include width(1200px);
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: 1000px) {
    padding: 0 5px;
  }
}

.app_inner {
  display: flex;
}

.active_nav {
  color: $active;
  position: relative;

  //.active_nav::after
  &::after {
    @include after('', 0, -8px);
    width: 3px;
    height: 100%;
    background-color: $active;
    border-radius: 5px;
  }
}

.active_dialog {
  color: $bgDark700;
  font-weight: 900;
  position: relative;

  //.active_dialog:after
  &::after {
    @include after('', 50%, -20px);
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    background-color: $bgDark700;
  }
}

.message_textarea {
  resize: none;
  height: 100px;
  width: 100%;
  padding: 7px;
  opacity: 0.5;
  outline: transparent;
  margin-bottom: 20px;
}

.message_btn {
  @include width(200px);
  font-size: 18px;
  color: $bgDark900;
  background-color: $orange500;
  padding: 7px 5px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 5px 0 $boxShadow300;
  transition: all 0.3s;

  &:hover {
    color: $colorLight;
    box-shadow: 0 0 5px 0 $boxShadow400;
  }
}

.link {
  color: $boxShadow100;
}

.all_error {
  border-bottom: 2px solid $errorAll;
  border-left: 2px solid $errorAll;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: $bgDark300;
  font-size: 22px;
  font-weight: 900;
  padding: 20px 30px;
  color: $errorAll;
  border-radius: 5px;
}